@media screen and (max-width:600px) {
    .heading-secondary {
        font-size: 27px !important;
    }
    .heading-mid {
        font-size: 23px !important;
    }

    .title {
        padding: 0 15px;
    }
    .contact{
        input,textarea{
            width: 100% !important;
        }
    }
}