@font-face {
    src: url(../fonts/Kalpurush.ttf);
    font-family: kalpurush;
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: FiraCodeMedium;
    src: url(../fonts/FiraCode-Medium.ttf);
}

/* colors */
$color-whit-gray:#fff;
$color-gray:#f2f2f2;
$color-heading-gradient:linear-gradient(to right,
    #f36,
    #8128b4);

/*     {
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
} */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Rubik', sans-serif;
}

/* ***** Utilities ***** */
.u-margin-bottom-big {
    margin-bottom: 8rem;
}

.u-margin-bottom-mid {
    margin-bottom: 6rem;
}

.u-margin-bottom-small {
    margin-bottom: 2rem;
}

.bd-font {
    font-family: kalpurush;
}

.sp {
    padding: 6rem 0;

}

.text-size-mid {

    font-size: 1.5rem !important;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;

}

.honor {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;

}

.animated-text {
    font-family: FiraCodeMedium;
    font-feature-settings: "calt"1;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    word-break: break-all;
    display: table;
    font-weight: 500;
}

/* ***** text component ***** */

.heading-secondary {
    display: inline-block;
    font-size: 3.7rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: $color-heading-gradient;
    -webkit-background-clip: text;
    color:
        transparent;
    transition: all .3s;
    letter-spacing: 0.2rem;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    }
}

.bd-font-spacing {
    left: 0.1rem;
}

.heading-mid {
    display: inline-block;
    font-size: 2.7rem;
    text-transform: capitalize;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    background-image: $color-heading-gradient;
    -webkit-background-clip: text;
    color:
        transparent;
    transition: all .3s;
    letter-spacing: 0.2rem;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    }
}

/* ***** BTEB Logo ***** */

.bteb-logo {
    width: 105px;
}

.mist-logo {
    width: 125px;
}

.brand-logo {
    img {
        width: 35px;
    }
}

// .title-shadow {
//     text-shadow: 0.2px 0.2px 3px #00A54F;
// }

#menu-bar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 1rem 4rem 0 rgba(0, 0, 0, 0.05);

    .text-logo {
        font-size: 2rem;
        // background: linear-gradient(135deg, #f36, lightgreen);
        background-image: linear-gradient(to right,
                #7ed56f,
                #28b485);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: 'Righteous', cursive;

    }

    a {
        padding-right: 1.3rem;
        padding-left: 1.3rem;
        font-size: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        white-space: nowrap;
    }

    ul li {
        position: relative;
        transition: all .3s ease-in-out;

        &:hover {
            &::before {
                transform: scale(1);
            }
        }

        &::before {
            position: absolute;
            content: "";
            top: -4px;
            left: 0;
            width: 100%;
            height: 0.18rem;
            background: #f36;
            transform: scaleX(0);
            transition: all .3s ease-in-out;
        }
    }
}

/* ***** Landing Section ***** */

.landing {
    ul {

        li {
            font-size: 1.3rem;
        }

        li:first-child {
            font-size: 2rem;
        }

        li:not(:first-child) {
            position: relative;
            padding-left: 3rem !important;

            &::before {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 5%;
                content: "\25aa";
                margin-right: .5rem;
                font-size: 2rem;
            }

        }
    }
}

/* ***** Director Section ***** */

.director {
    background: $color-whit-gray;

    .card-body {
        p {
            font-size: 1.5rem;
            font-family: 'Lato', sans-serif;
            opacity: .7;
        }
    }
}

/* ***** Courses ***** */

.courses {
    background: $color-gray;
    .dpt-slider {
        .single-item {
            margin: 1rem;

        }
    }

    .single-item {
        overflow: hidden;
        // box-shadow: 0 0 2.5rem 0 rgba(0, 0, 0, 0.5);
        transition: all .3s ease-in-out;
        background: $color-gray;
        

        &:hover {
            background: #fff;
            .dpt-img {
                &::before {
                    transform: scale(1);

                }

                img {
                    transform: scale(1.2);
                }
            }
        }

        .dpt-img {
            position: relative;
            overflow: hidden;

            // width: 300px;
            img {
                // width: 100%;
                transition: all .3s ease-in-out;
                transform: scale(1);
            }



            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                background: #000;
                width: 100%;
                height: 100%;
                opacity: 0.5;
                transform: scaleX(0);
                z-index: 2;
                transition: all .3s ease-in-out;
            }
        }

    }


}

/* ***** Footer Section ***** */

footer {
    background: #2D3E50;

    .institute-logo {
        width: 5rem;

        img {
            width: 100%;
        }
    }

    .social-icon-link {
        a {
            display: inline-block;
            width: 4rem;
            height: 4rem;
            line-height: 4rem;
            text-align: center;
            background: rgba(255, 255, 255, .1);
            margin-right: 1.5rem;
            font-size: 2rem;
            transition: all .3s ease-in-out;

            &:hover {
                // background: rgba(255,255,255,.3);
                background: #f56;
                color: #fff;
            }
        }
    }

    .get-in-touch {
        .gt {
            margin-bottom: .5rem;
        }

        h1 {
            letter-spacing: .3rem;
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 0;
            font-weight: 300;
        }

        .icon {
            svg {
                width: 2rem;
                height: 2rem;
                display: inline-block;
                line-height: 5rem;
                text-align: center;
                color: $color-gray;
                font-size: 2rem;
                margin-right: 1rem;
            }
        }
    }

    .useful-links {
        h1 {
            letter-spacing: .3rem;
        }

        .links {
            a {
                color: #fff;
                font-size: 1.5rem;
                font-weight: 300;
                line-height: 2.3rem;
                transition: all .2s ease-in-out;

                &:hover {
                    color: #f56;
                    text-decoration: none;
                }

            }
        }
    }

    .copyright {
        p {
            font-size: 1.3rem;
        }
    }
}