@font-face {
  src: url(../fonts/Kalpurush.ttf);
  font-family: kalpurush;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: FiraCodeMedium;
  src: url(../fonts/FiraCode-Medium.ttf);
}

/* colors */
/*     {
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Lato', sans-serif;
} */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  margin: 0;
  width: 100%;
  padding: 0;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  /* // overflow-x: hidden; */
}

/* ***** Utilities ***** */
.u-margin-bottom-big {
  margin-bottom: 80px;
}

.u-margin-bottom-mid {
  margin-bottom: 60px;
}

.u-margin-bottom-small {
  margin-bottom: 20px;
}

.bd-font {
  font-family: kalpurush;
}

.sp {
  padding: 70px 0;
}

.shadow-drop-2-center:hover {
  -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/**
 * ----------------------------------------
 * animation shadow-drop-2-center
 * ----------------------------------------
 */
@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.text-size-mid {
  font-size: 17px !important;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.honor {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Rubik', sans-serif;
}

p {
  margin-bottom: .5rem !important;
}

.animated-text {
  font-family: FiraCodeMedium;
  -webkit-font-feature-settings: "calt" 1;
          font-feature-settings: "calt" 1;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  word-break: break-all;
  display: table;
  font-weight: 500;
}

.tab-content {
  display: none;
}

/* ***** text component ***** */
.text-primary-gradient {
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  font-size: 25px !important;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
  letter-spacing: 2px;
  font-family: FiraCodeMedium;
  -webkit-font-feature-settings: "calt" 1;
          font-feature-settings: "calt" 1;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  word-break: break-all;
}

.heading-secondary {
  display: inline-block;
  font-size: 37px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(#f36), to(#8128b4));
  background-image: linear-gradient(to right, #f36, #8128b4);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
  letter-spacing: 2px;
  /* &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    } */
}

.bd-font-spacing {
  left: 1px;
}

.heading-mid {
  display: inline-block;
  font-size: 30px;
  text-transform: capitalize;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  background-image: -webkit-gradient(linear, left top, right top, from(#f36), to(#8128b4));
  background-image: linear-gradient(to right, #f36, #8128b4);
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
  letter-spacing: 2px;
}

/* ***** BTEB Logo ***** */
.bteb-logo {
  width: 105px;
}

.mist-logo {
  width: 125px;
}

.brand-logo img {
  width: 35px;
}

.institute-info h3 {
  font-size: 27px;
}

.institute-info p,
.institute-info span {
  font-size: 17px;
}

#menu-bar {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  -webkit-box-shadow: 0 1rem 4rem 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 1rem 4rem 0 rgba(0, 0, 0, 0.05);
}

#menu-bar a {
  padding-right: 13px;
  padding-left: 13px;
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
}

#menu-bar ul li {
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#menu-bar ul li:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#menu-bar ul li::before {
  position: absolute;
  content: "";
  top: -4px;
  left: 0;
  width: 100%;
  height: 1.8px;
  background: #f36;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* ***** Landing Section ***** */
.landing ul li {
  font-size: 15px;
}

.landing ul li:first-child {
  font-size: 20px;
}

.landing ul li:not(:first-child) {
  position: relative;
  padding-left: 30px !important;
}

.landing ul li:not(:first-child)::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5%;
  content: "\25aa";
  margin-right: 5px;
  font-size: 20px;
}

/* ***** Director Section ***** */
.director {
  background: #fff;
}

.director .card-body p {
  font-size: 15px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  opacity: .7;
}

/* ***** Courses ***** */
.courses {
  background: #f2f2f2;
}

.courses .dpt-slider .single-item {
  margin: 10px;
}

.courses .single-item {
  overflow: hidden;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: #f2f2f2;
}

.courses .single-item h2 {
  font-size: 23px;
}

.courses .single-item:hover {
  background: #fff;
}

.courses .single-item:hover .dpt-img::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.courses .single-item:hover .dpt-img img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.courses .single-item .dpt-img {
  position: relative;
  overflow: hidden;
}

.courses .single-item .dpt-img img {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.courses .single-item .dpt-img::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  z-index: 2;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* ***** Footer Section ***** */
footer {
  background: #2D3E50;
}

footer h1 {
  letter-spacing: 3px;
  font-size: 25px;
  margin-bottom: 16px !important;
}

footer .institute-logo {
  width: 50px;
}

footer .institute-logo img {
  width: 100%;
}

footer .social-icon-link a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 1.5rem;
  font-size: 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

footer .social-icon-link a:hover {
  background: #f56;
  color: #fff;
}

footer .get-in-touch .gt {
  margin-bottom: 5px;
}

footer .get-in-touch h1 {
  letter-spacing: 3px;
  font-size: 25px;
}

footer .get-in-touch p {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 300;
}

footer .get-in-touch .icon svg {
  width: 20px;
  height: 20px;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  color: #f2f2f2;
  font-size: 20px;
  margin-right: 10px;
}

footer .useful-links h1 {
  letter-spacing: 3px;
}

footer .useful-links .links a {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

footer .useful-links .links a:hover {
  color: #f56;
  text-decoration: none;
}

footer .copyright p {
  font-size: 15px;
}

footer .copyright h2 {
  font-size: 20px;
}

/* ********************* About  ********************** */
.institute-name {
  font-family: 'Rubik', sans-serif;
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 2px;
}

.top-header {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../img/sea.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  overflow-x: hidden;
}

.top-header h2 {
  display: inline-block;
  padding-bottom: .5rem;
  font-size: 30px;
  letter-spacing: 1.5;
}

.cmt-top-header {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url(../img/cmt-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  overflow-x: hidden;
}

.cmt-top-header h2 {
  display: inline-block;
  padding-bottom: 5px;
  font-size: 30px;
  letter-spacing: 1.5;
}

/* ********************* Administration  ********************** */
.administration .single-hero,
.department .single-hero {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.administration .single-hero:hover,
.department .single-hero:hover {
  background: #fff;
}

.administration .single-hero .hero-name h1,
.department .single-hero .hero-name h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  background-image: -webkit-gradient(linear, left top, right top, from(#f36), to(#8128b4));
  background-image: linear-gradient(to right, #f36, #8128b4);
  -webkit-background-clip: text;
  color: transparent;
}

.administration .single-hero .hero-info h3,
.department .single-hero .hero-info h3 {
  font-weight: 600;
  font-size: 20px;
}

.administration .single-hero .hero-info p,
.department .single-hero .hero-info p {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  opacity: .7;
}

/* ********************* Admission  ********************** */
.admission table th {
  font-family: 'Roboto', sans-serif;
  background-image: -webkit-gradient(linear, left top, right top, from(#f36), to(#8128b4));
  background-image: linear-gradient(to right, #f36, #8128b4);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
}

.admission table td {
  font-family: FiraCodeMedium;
  -webkit-font-feature-settings: "calt" 1;
          font-feature-settings: "calt" 1;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  word-break: break-all;
  font-weight: 500;
  font-size: 14px;
  opacity: .8;
  font-weight: 400;
}
/*# sourceMappingURL=style.css.map */